@{
    ViewBag.Title = "Home Page";
}
@section styles{
    @Styles.Render("~/Content/home")
}
<div ng-controller="dealCtrl as ctrl" ng-cloak >
    <div class="loader" ng-show="isLoading && !hasError">
        <img src="~/Images/loader.gif" /><br/>
        Please wait while the package loads
    </div>
    <div class="error-message" ng-show="hasError">
        Sorry, an error occurred<br/>
        {{errorMessage}}
    </div>
    <div class="fadeIn" ng-hide="isLoading">
        <div class="results-header">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Selected Package</li>
                </ol>
                <p class="fadeInLeft provider-logo">
                    <img ng-src="{{ctrl.deal.providerLogoUrl}}" alt="{{ctrl.deal.providerName}}" />

                </p>
                <h1 class="fadeInLeft">{{ctrl.deal.providerName}}</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="feature fadeInLeft">
                        <i class="fa fa-wifi"></i>
                        <h4>up to {{ctrl.deal.downloadSpeedDisplay}}<br />{{ctrl.deal.downloadLimitDisplay}}</h4>

                    </div>
                </div>
                <div class="col-md-3" ng-hide="ctrl.deal.calls===0">
                    <div class="feature fadeIn">
                        <i class="fa fa-phone"></i>
                        <h4>{{ctrl.deal.callsDisplay}}</h4>

                    </div>
                </div>
                <div class="col-md-3" ng-hide="ctrl.deal.channelCount===0">
                    <div class="feature fadeIn">
                        <i class="fa fa-television"></i>
                        <h4>{{ctrl.deal.channelCount}} Channels</h4>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature fadeInRight">
                        <i class="fa fa-clock-o"></i>
                        <h4>{{ctrl.deal.contractLengthDisplay}} Contract</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row deal-detail fadeInLeft">
                <ul class="nav nav-pills col-md-12">
                    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                    <li><a data-toggle="tab" href="#costs">Costs</a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane fade in active">
                        <div>Costs without line rental</div>
                        <div ng-repeat="cost in ctrl.deal.costsWithoutLineRental.costBreakdown">
                            <div ng-class='isFirstCost($first)'>{{cost.value}}</div>
                            <div>{{stripCharacters(cost.description)}}</div>
                        </div>
                        <div>1st year cost {{ctrl.deal.costsWithoutLineRental.firstYearCostDisplay}}</div>
                    </div>
                    <div id="costs" class="tab-pane fade">
                        <table class="table table-striped costs-table">
                            <tr ng-repeat="cost in ctrl.deal.costsWithLineRental.costBreakdown">
                                <td>{{capitalizeAndStripCharacters(cost.description)}}</td>
                                <td>{{cost.value}}</td>
                            </tr>
                            <tr>
                                <td>Line Rental monthly cost</td>
                                <td>{{ctrl.deal.costsWithLineRental.lineRentalDisplay}}</td>
                            </tr>
                            <tr ng-hide="ctrl.deal.costsWithLineRental.hardwareCost===0">
                                <td>Hardware</td>
                                <td>{{ctrl.deal.costsWithLineRental.hardwareCostDisplay}}</td>
                            </tr>
                            <tr>
                                <td>Activation</td>
                                <td>{{ctrl.deal.costsWithLineRental.installationCostDisplay}}</td>
                            </tr>
                            <tr>
                                <td>Delivery</td>
                                <td>{{ctrl.deal.costsWithLineRental.deliveryCostDisplay}}</td>
                            </tr>
                            <tr class="info">
                                <td><b>First year cost</b></td>
                                <td><b>{{ctrl.deal.costsWithLineRental.firstYearCostDisplay}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
   
}